
body, html {
    background-color: #171717;
    min-height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }

    /* Intro section with name in the center */
    .intro {
    height: 100vh; /* Make sure it's 100% of the viewport height */
    display: flex;
    align-items: center; /* Horizontally center the content */
    flex-direction: column; /* Stack the elements vertically */
    transition: width 2s ease-in-out, transform 2s ease-in-out, margin 2s ease-in-out;
    justify-content: center;
}

.intro-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 2s ease-in-out;
}

.intro h1 {
    font-size: 4rem;
    align-self: flex-start;
    display: inline-block;
    color: #f4f4f9;
    padding: 0;
    margin: 0;
    transition: all 1s ease-in-out;
}

.intro img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: flex-start;
    transition: all 1s ease-in-out;
    border: 1px solid white;
}

.intro p {
    font-size: 3rem;
    color: #555;
    margin-top: 10px;
    transition: all 1s ease-in-out;
    text-align: left; /* Left-align the location */
    align-self: flex-start; /* Align the location text to the left of the name */
}

/* Main content layout */
.container {
    display: flex;
    height: 100vh;
    transform: translateY(100vh);
    transition: transform 2s ease-in-out;
}

.left-column, .right-column {
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    flex: 1;
    background: #f4f4f9;
    visibility: hidden;
    border-right: 2px solid #ddd;
    position: relative;
}

.right-column {
    overflow-y: auto;
    flex:1.5
}

.right-column h2{
    color: #f4f4f9;
}


.intro.shrink {
    flex:1.5;
    transform: scale(35%);
    transform-origin: 0% 0%;
}
.intro-content.shrink {
    transform: scale(180%);
    transform-origin: 0% 0%;
}